# requirements.txt

buyer-payment-agent-openapi-gen-v5 @ file:///Users/e142756/work/client-libs-end-to-end-tests-python/client_encryption_tests/services/clients/openapi_gen_v5/buyer_payment_agent
buyer-payment-agent-openapi-gen-v6 @ file:///Users/e142756/work/client-libs-end-to-end-tests-python/client_encryption_tests/services/clients/openapi_gen_v6/buyer_payment_agent
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==2.0.12
click==8.1.7
client-encryption-python-service-test @ file:///Users/e142756/work/client-libs-end-to-end-tests-python
colorama==0.4.6
ConfigArgParse==1.7
coverage==7.4.1
cryptography==41.0.7
Deprecated==1.2.5
digital-enablement-openapi-gen-v5 @ file:///Users/e142756/work/client-libs-end-to-end-tests-python/client_encryption_tests/services/clients/openapi_gen_v5/digital_enablement
digital-enablement-openapi-gen-v6 @ file:///Users/e142756/work/client-libs-end-to-end-tests-python/client_encryption_tests/services/clients/openapi_gen_v6/digital_enablement
distlib==0.3.6
filelock==3.12.2
frozendict==2.3.10
fsspec==2023.10.0
huggingface-hub==0.17.3
id-assist-openapi-gen-v5 @ file:///Users/e142756/work/client-libs-end-to-end-tests-python/client_encryption_tests/services/clients/openapi_gen_v5/id_assist
id-assist-openapi-gen-v6 @ file:///Users/e142756/work/client-libs-end-to-end-tests-python/client_encryption_tests/services/clients/openapi_gen_v6/id_assist
idna==3.4
installments-fi-openapi-gen-v5 @ file:///Users/e142756/work/client-libs-end-to-end-tests-python/client_encryption_tests/services/clients/openapi_gen_v5/installments_fi
installments-fi-openapi-gen-v6 @ file:///Users/e142756/work/client-libs-end-to-end-tests-python/client_encryption_tests/services/clients/openapi_gen_v6/installments_fi
Jinja2==3.1.2
joblib==1.3.2
MarkupSafe==2.1.3
-e git+https://github.com/Mastercard/client-encryption-python.git@515938505e376d3e458d468c054701b5e29d8cf0#egg=mastercard_client_encryption
-e git+https://github.com/Mastercard/oauth1-signer-python.git@4177b42109b0884fd477c15789f02529eff0fd5e#egg=mastercard_oauth1_signer
mpmath==1.3.0
networkx==3.2.1
nltk==3.8.1
numpy==1.26.1
packaging==23.2
payment-account-management-openapi-gen-v5 @ file:///Users/e142756/work/client-libs-end-to-end-tests-python/client_encryption_tests/services/clients/openapi_gen_v5/payment_account_management
Pillow==10.1.0
pipenv==2023.6.12
platformdirs==3.5.3
pycparser==2.21
pycryptodome==3.19.1
pyLanguagetool==0.10.0
pyOpenSSL==23.2.0
pyspellchecker==0.7.2
python-dateutil==2.7.5
PyYAML==6.0
regex==2023.10.3
reportlab==4.0.7
requests==2.27.1
safetensors==0.4.0
sentencepiece==0.1.99
six==1.16.0
supplier-payment-agent-openapi-gen-v5 @ file:///Users/e142756/work/client-libs-end-to-end-tests-python/client_encryption_tests/services/clients/openapi_gen_v5/supplier_payment_agent
supplier-payment-agent-openapi-gen-v6 @ file:///Users/e142756/work/client-libs-end-to-end-tests-python/client_encryption_tests/services/clients/openapi_gen_v6/supplier_payment_agent
sympy==1.12
tabulate==0.9.0
token-connect-openapi-gen-v5 @ file:///Users/e142756/work/client-libs-end-to-end-tests-python/client_encryption_tests/services/clients/openapi_gen_v5/token_connect
token-connect-openapi-gen-v6 @ file:///Users/e142756/work/client-libs-end-to-end-tests-python/client_encryption_tests/services/clients/openapi_gen_v6/token_connect
tokenizers==0.14.1
torch==2.1.0
tqdm==4.66.1
transformers==4.35.0
typing_extensions==4.3.0
urllib3==1.26.18
virtualenv==20.23.0
virtualenv-clone==0.5.7
wordninja==2.0.0
wrapt==1.16.0
